<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo title=false %}

<title>{{ include.title }}</title>

<meta name="theme-color" content="#bcccec">
<meta name="language" content="en-US">
<link rel="alternate" href="feed.atom" type="application/atom+xml" title="Atom">
<link rel="mask-icon" href="/path/to/icon.svg" color="bcccec">

<style>
	body {
		margin: 0px;
	}

	.bbb {
		font-family: "SFUIDisplay", "SF UI Display", "Helvetica", sans-serif;
		font-weight: 800;
	}
</style>