<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<meta name="theme-color" content="#bcccec">
<meta name="google-site-verification" content="Z9C6W-hivjFQA3_dewvs41wFArur7sSp4ZOElj4FGy8">
<meta name="language" content="en-US">

<link rel="alternate" href="feed.atom" type="application/atom+xml" title="Atom">

<style>
	body {
		margin: 0px;
	}

	/*
		Make things big, bold, and
		beautiful, just like Apple.
	*/
	.bbb {
		font-family: "SFUIDisplay", "SF UI Display", "Helvetica", sans-serif;
		font-weight: 800;
	}
</style>